body {
	font-family: "Open Sans",arial,x-locale-body,sans-serif;
	margin: 0;
}

.page {
	margin: 0 auto;
	max-width: 650px;
}

#sidebar {
	width: 250px;
	background: #fff;
	height: 100%;
	top: 0;
}

#nav {
	right: -45px;
	top: 0;
	width: 35px;
	height: 35px;
	padding: 5px;
	text-align: center;;
	font-size: 1.5em;
}
/*##general fixes---*/
.pr {position: relative;}
.pa {position: absolute;}
.fl {float: left;}
.fr {float: right;}
.btn {cursor: pointer;}
.cf {

}
.cf:after {
  content: "";
  display: table;
  clear: both;
}

.header {
	text-align: center;
	font-style: italic;
}

.bar-box  {
	background: #3c7bd6;
	color: #fff;
	padding: 10px;
	border-radius: 4px 4px 0 0;
}


.main {
	background: rgba(239, 239, 239, 0.47);
	padding: 10px 10px 50px;
	min-height: 200px;
	border-radius: 0 0 4px 4px;
	margin-bottom: 10px;
}

.adder {
	background: #fff;
	border-radius: 4px;
}
ul.task-list {
	list-style: none;
	padding: 0;
	margin:0;
}
ul.task-list li {
	margin-bottom: 5px;
	border-bottom: 1px solid #ccc;
	padding: 2px 10px 5px;
}

input {
	padding: 10px;
    border: 0;
    border-radius: 4px;
    margin: 0;
    font-size: 16px;
}

input.user-input {
	width: 77%;
	margin-top: 5px;    
}

input.js-btn {
	background: #fc6521;
    color: #fff;
    right: 10px;
    width: 18%;
    border-radius: 0 4px 4px 0;
    font-size: 35px;
    line-height: .4;
    height: 45px;
}
input:focus, textarea:focus, select:focus {
	border: none;
	outline: none;
}

.reset-btn {
    right: 0px;
    left: 0px;
    margin: 0 auto;
    padding: 5px;
    background: none;
    border: 2px solid #000;
    width: 200px
}
.reset-btn:hover {
	background: #000;
	color: #fff;
}

#date {
	width: 20%;
	left: -61px;
}

#day, #month {
	font-weight: bold;
}
#day {
	font-size: 3em;
	top:-5px;
	text-align: right;;
	width: 50%;
	margin-right: 5px;
}
#month, #year {
	font-size: 1.5em;
}
#year {
	top: -5px;
}


/* #night-theme*/
body.night-theme {
	background: #24272e;
	color: #fff;
}
.night-theme .main {
	background: rgba(95, 95, 95, 0.47);
}
.night-theme .bar-box  {
	background: #56d5fa;
}
.night-theme .reset-btn {
	border-color: #fff;
	color: #fff;
}
.night-theme .js-btn {
	background: #1e2026;
}
.night-theme .reset-btn:hover {
	color: #1e2026;
	background: #5cd6f8;
	border-color: #5cd6f8;
}

@media (max-width: 800px) {
	.no-mobile {
		display: none;
	}
	#date {
		width: 28%;
		left: -20px;
	}	
}